@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(234, 181, 35);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(230, 167, 21);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(234, 181, 35);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}
.brand h1 span {
	color: rgb(234, 181, 35);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(5, 6, 6, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(234, 181, 35);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/frly.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	height: 100%;
	overflow: hidden;

}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	opacity: 0.7;
	z-index: -1;
	pointer-events: none;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	line-height: 1.8;
	width: fit-content;
	font-size: 2rem;
	position: relative;
	color: rgb(255, 255, 255);
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

.hero-desc {               
  color: #fff;             
  font-size: 1.3rem;       
  line-height: 1.8;
  max-width: 700px;        
  margin-top: 1rem;
  word-wrap: break-word;  
}

.cta {
  margin-top: 6rem;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
	font-size: clamp(2.5rem, 6vw, 3.5rem);
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #33333333;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #000000 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 450px;
	height: 360px;
	margin: 0 auto;
}
#about .col-right {
	width: 100%;
	color: black;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
	text-align: justify;
}
#about .col-right .cta {
	color: black !important;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	width: 100%;
	display: flex;
	flex-direction: column;  /* default column for mobile */
	align-items: center;
}
#contact .contact-item {
	width: 90%;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto 10px auto;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.9rem;
	line-height: 2rem;
	font-weight: 500;
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #485563 0%, #0b0e12 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
	text-align: center;
}

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(8, 5, 6);
		font-weight: 500;
	}
}

/* Media Query For Tablet (≥768px) */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}
	#hero h1 {
		font-size: 7rem;
	}
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
		margin: 0;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(8, 4, 5);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
		color: black;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
}

/* Media Query For Desktop ≥1200px */
@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
}
/* End Media Queries */

/* Mobile-specific adjustments */

@media only screen and (max-width: 767px) {
	#header .nav-list ul {
		position: fixed;
		top: 0;
		left: 100%;
		width: 100vw;
		height: 100vh;
		background-color: rgb(31, 30, 30);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: left 0.5s ease;
		z-index: 999;
		overflow-y: auto;
	}
	#header .nav-list ul.active {
		left: 0;
	}
	#header .hamburger {
		display: flex;
	}
	#header .nav-list ul li {
		margin: 20px 0;
	}
	#header .nav-list ul a {
		font-size: 2.2rem;
		padding: 15px 20px;
	}
	
	#projects .project-item {
		width: 95%;
		flex-direction: column;
		box-shadow: none;
		margin-bottom: 30px;
	}
	#projects .project-info h1 {
		font-size: 3rem;
	}
	#projects .project-info p {
		font-size: 1.4rem;
	}
	#projects .project-img {
		height: 200px;
	}
	#about .about {
		flex-direction: column;
		padding: 50px 10px;
		text-align: center;
	}
	#about .col-left {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
	}
	#about .col-left .about-img {
		height: auto;
		border-width: 6px;
	}
	#about .col-right {
		width: 100%;
		padding: 0 15px;
		text-align: center;
	}
	#about .col-right h2 {
		font-size: 1.6rem;
	}
	#about .col-right p, #about .col-right .cta {
		font-size: 1.4rem;
	}
	#contact .contact-items {
		flex-direction: column;
		padding: 0 10px;
	}
	#contact .contact-item {
		width: 90%;
		margin: 15px auto;
		flex-direction: column;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		text-align: center;
	}
	#contact .contact-item .icon {
		height: 60px;
		width: 60px;
		margin-bottom: 10px;
	}
	#contact .contact-info h1 {
		font-size: 2rem;
		margin-bottom: 5px;
	}
	#contact .contact-info h2 {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
	#footer .footer {
		padding: 30px 15px;
	}
	#footer h2 {
		font-size: 1.4rem;
	}
	#footer p {
		font-size: 1.1rem;
	}
}

